.custom-nav {
  background:#fff;
  font-size: 15px;
  border: 0;
  font-family: Poppins;
}
.navbar-brand {
  font-size: 20px;
  color:black !important;
  font-weight: bold;
}

#table {
  margin-bottom: 100px
}
body {
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  overflow-x: hidden;
  /* height: 100% */
}
html, body {
overflow-x: hidden;
}
body {
position: relative
}
.fa {
 padding: 20px;
 font-size: 30px;
 width: 80px;
 text-align: center;
 text-decoration: none;
 margin: 5px 2px;
}
.fa-facebook {
 background: #3B5998;
 color: white;
}

.fa-twitter {
 background: #55ACEE;
 color: white;
}

.fa-linkedin {
 background: #007bb5;
 color: white;
}

.fa-youtube {
 background: #bb0000;
 color: white;
}

.fa-instagram {
 background: #125688;
 color: white;
}
.fa:hover {
   opacity: 0.7;
}
.quotes {
 background: black;
 padding: 50px 0 30px 0;
 text-align: center;
 margin-top: 40px;
}
.quotes p {
 color: #fff;
 font-size: 32px;
 font-family: 'Josefin Sans';
}
.quotes, p.author {
 font-size: 20px;
 color: #666;
}
.showcase-img {
  height: 400px;
  width: 400px;
}
.showcase-left{
 margin-left: 11px;
 margin-top: 100px;
}
.showcase-right {
 margin-right: 200px;
}
.showcase-btn {
 margin-left: 75px;
 margin-top: 14px;
}
#info1 .info-right{
 margin-top: 90px;
}
.info-left img{
 margin-top: 90px;
 height: 400px;
 background-size: cover;
}
#info2 {
 margin: 20px 0 60px 0;
}
.member {
 padding: 40px;
 color: #fff;
 border-top: red 7px solid;
 border-bottom: green 7px solid;
 background-size: cover;
 background-color: black;
}
h1,h2,h3,h4,h5,h6 {
 font-family: 'Alegreya', serif;

}
p {
 font-family: Roboto;
}
#showcase h1{
 font-size: 63px;
 margin-bottom: 20px;
}
.back-to-top {
 cursor: pointer;
 position: fixed;
 bottom: 20px;
 right: 20px;
 display:none;
}
#footer {
  background: black;
  color: white;
  text-align: center;
}
.founders-img {
  border-radius: 50%;
}
.card-img-top {
margin: auto;
width: 190px;
height: 15vw;
object-fit: fill;
}
.card-horizontal {
display: flex;
flex: 1 1 auto;
}
.fa {
padding: 20px;
font-size: 30px;
width: 80px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
}

.fa:hover {
opacity: 0.7;
}
.card {
border: none;
border-radius: 20px;
}
.bar {
height: 5px;
background-color:red;
}
.training {
  margin-top: 100px;
  margin-bottom: 40px;
}
.title {
  font-family: sans-serif;
}
.customTraining {
background-image: url("img/learning.jpg");
background-size: cover;
width: 100%;
height: 300px;
border: 3px solid red;
padding: 10px;
box-shadow: 5px 10px black;
border-radius:12px;
}
.customGrants {
background-image: url("img/money.jpg");
background-size: cover;
width: 100%;
height: 300px;
border: 3px solid red;
padding: 10px;
box-shadow: 5px 10px black;
border-radius:12px;
}
.customTaskForce {
background-image: url("img/volunteer.png");
background-size: cover;
width: 100%;
height: 300px;
border: 3px solid red;
padding: 10px;
box-shadow: 5px 10px black;
border-radius:12px;
}
.join {
  text-align: center;
  font-weight: bolder;
}
ul {
  font-size: 20px;
}
@media screen and (max-width: 426px) {
  .jumbotron{
    background-image: none!important;
    background-color: white;
    margin-top: 34px;
    display: contents;

    }
  h1 {
    color: black;
  }
  .card-img-top {
    height: 48vw;
  }
}
.tech {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
}
btn.memberNav {
  height: 50px;
  color: black;
}
